@model WebApplication3.Models.Product

@{
    ViewBag.Title = "Delete";
}


<h2>Delete Product</h2>
<form action="/Product/Delete/@Model.ProductId" method="post">
    <table class="table">
        <tr>
            <td>
                <label for="ProductName">Product Name</label>
            </td>
            <td>
                <input type="hidden" name="ProductID" value="@Model.ProductId" />@Model.ProductName
            </td>
        </tr>

    </table>
    <div>Are You Sure To Delete This Product</div>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-success" href="/Product/index">Cancel</a>
</form>